common:
	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	includes:
		- components.neon
		- model.neon

	services:
		authenticator:
			class: Moes\Security\PasswordAuthenticator

		authorizator:
			class: Moes\Security\Authorizator

		facebook:
			class: Facebook([appId: "211051828990836", secret: "bdb352fa56e0201e1a699563c2f0a7f8"])

		facebookAuthenticator:
			class: Moes\Security\FacebookAuthenticator

		texy:
			class: Moes\Texy\CachedTexy

		logger:
			class: Moes\Logger\Logger
			factory: @doctrine.entityManager::getRepository
			arguments: [Moes\Logger\Action]

	doctrine:
		database:
			user: root
			password: toor
			host: localhost
			dbname: moes
			charset: utf8
			driver: pdo_mysql

		configuration:
			entityDirs: ['%appDir%/models', '%libsDir%/Moes']
			proxyDir: %tempDir%/proxies
			proxyNamespace: Proxy

	nette:
		services:
			userStorage:
				class: Moes\Security\UserStorage

		application:
			catchExceptions: true
			errorPresenter: Frontend:Error

		container:
			debugger: true

production < common:

development < common:
	nette:
		application:
			catchExceptions: false