common:
	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	services:
		authenticator:
			class: Moes\Security\PasswordAuthenticator(@repository.user)

		authorizator:
			class: Moes\Security\Authorizator(@repository.role)

		facebook:
			class: Facebook([appId: "211051828990836", secret: "bdb352fa56e0201e1a699563c2f0a7f8"])

		facebookAuthenticator:
			class: Moes\Security\FacebookAuthenticator(@repository.user)
			autowired: no

		texy:
			class: Moes\Texy\CachedTexy(@cacheStorage)

		nette.userStorage:
			class: Moes\Security\UserStorage(@session, @repository.user)

	factories:
		articleForm:
			class: BackendModule\ArticleForm(@repository.article, @user::getIdentity(), @repository.category::findAll())

		categoryForm:
			class: BackendModule\CategoryForm(@repository.category)

		changePasswordForm:
			class: BackendModule\ChangePasswordForm(@repository.user, @user::getIdentity())

		pageForm:
			class: BackendModule\PageForm(@repository.page, @user::getIdentity())

		userForm:
			class: BackendModule\UserForm(@repository.article, @repository.role::findAll())

		# grids

		articleGrid:
			class: BackendModule\ArticleGrid(@repository.article)

		articleTrashGrid:
			class: BackendModule\ArticleTrashGrid(@repository.article)

		categoryGrid:
			class: BackendModule\CategoryGrid(@repository.category)

		pageGrid:
			class: BackendModule\PageGrid(@repository.page)

		userGrid:
			class: BackendModule\UserGrid(@repository.user)

		#loaders
		
		backendCss:
			class: BackendModule\BackendCss(@container)

		backendJs:
			class: BackendModule\BackendJs(@container)

		frontendCss:
			class: FrontendModule\FrontendCss(@container)

		frontendJs:
			class: FrontendModule\FrontendJs(@container)

	doctrine:
		database:
			user: root
			password: toor
			host: localhost
			dbname: moes
			charset: utf8
			driver: pdo_mysql

		configuration:
			entityDirs: ['%appDir%/entities', '%libsDir%/Moes']
			proxyDir: %tempDir%/proxies
			proxyNamespace: Proxy

#	facebook:
#		appId: "211051828990836"
#		secret: "bdb352fa56e0201e1a699563c2f0a7f8"

	nette:
		application:
			catchExceptions: true
			errorPresenter: Frontend:Error

		container:
			debugger: true

production < common:

development < common:
	nette:
		application:
			catchExceptions: false
console < common: