model:
	services:
		articles:
			class: Model\ArticleRepository
			factory: @doctrine.entityManager::getRepository
			arguments: [Model\Article]

		categories:
			class: Moes\Doctrine\EntityRepository
			factory: @doctrine.entityManager::getRepository
			arguments: [Model\Category]

		comments:
			class: Model\CommentRepository
			factory: @doctrine.entityManager::getRepository
			arguments: [Model\Comment]

		identities:
			class: Moes\Security\IdentityRepository
			factory: @doctrine.entityManager::getRepository
			arguments: [Moes\Security\Identity]

		pages:
			class: Moes\Doctrine\EntityRepository
			factory: @doctrine.entityManager::getRepository
			arguments: [Model\Page]