{block content}
<div class="row">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
			<li><a n:href="Article:">Články</a></li>
			<li class="active"><a n:href="#">Kategorie</a></li>
			<li><a n:href="Tag:">Nálepky</a></li>
		</ul>
	</div>
	<div class="span9">
		<div class="well">
			<a n:href="add" class="btn">Přidat</a>
		</div>

		<h2>Kategorie</h2>

		{control categoryGrid}
	</div>
</div>