
{block content}

<article n:foreach="$articles as $article" class="article">
	<h2>{$article->title}</h2>
	<p>{!$article->introduction|texy}</p>
	<a n:href="Article:show, $article->slug" class="btn btn-info">Celý článek</a>
</article>