body {
	margin-top: 20px;
}

.hero {
	background: #F0F0F0;
	border-bottom: 1px solid #E1E1E1;
	border-top: 1px solid #E1E1E1;
	margin-bottom: 30px;

	h2 {
		line-height: 3em;
		font-size: 300%;
	}
}

.header {
	background-color: #F8F8F8;

	.brand {
		color: #333;
	}

	a {
		text-shadow: none;
		margin: 10px;
	}

	a:hover {
	}
}

.main {
	background-color: #fff;
}

.center {
	text-align: center;
}

footer {
	border-top: 1px solid #ccc;
	padding: 20px;
	margin-top: 20px;
}

.btn-huge {
	font-size: 18px;
	padding: 15px 18px;
}

.article {
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 10px;
}
code {
	border: 0;
}