{block content}

<h2 id="ff">Article Manager <small>vše co se týká článků</small></h2>

<hr>

<div class="well">
	<a n:href="add" class="btn btn-large">Nový článek</a>
	<a n:href="default" class="btn btn-large btn-danger">Ostatní články</a>
</div>

{control articleTrashGrid}